header{
  background-color: #fff;
}
.onhover-down:hover {
  border-bottom: 2px solid #f46464;
}
.header_nav{
  width: 50%;
  float: right;
}
.header_nav_wrapper{
  padding: 10px;
}

.banner{
  height: 30px;
  width: auto;
}

.banner_link{
  @extend .banner;
  display: block;
}