$button_height:30px;
$button_line-height:18px;

.button{
	display: block;
	padding: ($button_height - $button_line-height) / 2  5px;
	text-align: center;
	height: $button_height;
	background-color: #fff;
	color: #fff;
	border-radius: 2px;
	line-height:$button_line-height;
	&:hover{
		cursor:pointer;
		background-color: #f46464;
	};
	&:disabled{
		opacity: 0.4;
	};

}
