.header_slider{
	width: 100%;
	position: relative;
}

.slide_wrapper{
	display: flex;

	align-items:  center;
	padding: 10%;
	height: 400px;
	width: auto;
}

.slide_header{
	margin-bottom: 20px;
	font-size: 24px;
}

.slide_paragraph{
	color: #7d8485;
	font-size: 16px;
	line-height: 1.6;
}

.slider_text{
	width: 40%;
	vertical-align: middle;
}

.left-text{
	float:left;
}

.right-text{
	justify-content: flex-end;
}

.slide1{
	background: url("../../static/slide1.png") center no-repeat;
}
.slide2{
	background: url("../../static/slide2.png") center no-repeat;
}
.slide3{
	background: url("../../static/slide3.png") center no-repeat;
}

.nextArrow {
	position: absolute;
	top: 50%;
	right: 5px;
	cursor: pointer;
	transition: all ease-in .2s;
	color: #e53b3b;

	&:hover {
		opacity: 0.5;
		transform: scale(1.4);
		transition: all ease-in .2s;
	}
}

.backArrow {
	position: absolute;
	top: 50%;
	left: 5px;
	cursor: pointer;
	color: #e53b3b;
	

	transition: all ease-in .2s;

	&:hover {
		opacity: 0.5;
		transform: scale(1.4);
		transition: all ease-in .2s;
	}
}