.baner-block__slider{
	text-align: center;
	margin:20px 0;
}
.slider_page{
position: relative;
	display: inline-block;
	margin: 0 5px;
	label{
		position: absolute;
		top:0;
		left:0;
		border: 2px solid #30AE63;
		background: transparent;
		width:20px;
		height:20px;
		border-radius:10px;
		box-sizing: border-box;
		&:hover{
			cursor:pointer;
		}
	}

	input {
		visibility: hidden;
	}
	#first-page:checked+ label{
			background: #30AE63;
		}
	#second-page:checked+ label{
			background: #30AE63;
		}
	
}
