@import "_reset.scss";
$block-width:85%;


body,button,input,h1,h2,p,label,a{
	font-family: 'Open Sans';
}

div,form,section,a {
	box-sizing: border-box;
}
body{
	width: 100%;
	font-size: 14px;
	margin: 0 auto;
	background: #F2F3F4;
}
.inline {
	display: inline-block;
	margin: 0 30px 0 0;
}

a:hover{
	cursor:pointer;
};

.input{
	padding: 5px 10px;
}

.block{
	width: $block-width;
	margin: 0 auto;
	background-color: #fff;
	margin-top: 20px;
}


.flex{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


